/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --weight-text: 400;
  --weight-title: 700;

  --bg-color: #ffffff;
  --accent-color: #000000;
  --stroke-color: #ffffff;
  --btn-text-color: #ffffff;
  --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
                      linear-gradient( #e7e7e7 0.01%, #1a1a1a);

  --heart-contour: #000000;
  --heart-sparks: #ff0000;
}